# SQLite Documentation
[sqlite_documentation](https://sqlite.org/docs.html)

# Basic Commands

**\.open** delete-soon db : CREATE delete-soon db<br/>
**\.print** "hello" : PRINT "hello"<br/>
**\.help** : SHOW all the sqlite commands<br/>
**\.databases** : SHOW the database we are working on<br/>
**\.tables**<br/>
**\.schema** <br/>
**\.exit**<br/>
**\.quit**

# SQlite Data Types

TEXT : string type in python <br/>
INTEGER : int type in python <br/>
REAL : float type in python <br/>
NUMERIC : date, boolean, \...<br/>
BLOB : stored as input

# TABLE

## Create Table

**CREATE TABLE** table_name(<br/>
\...> input schema<br/>
) **;**

<img src="./img/sqlite_create_table.png" width="400" style="float: left">

## Delete Table

**DROP TABLE** table_name **;**<br/>

## Modify Table

**ALTER TABLE** table_name<br/>
\...>**RENAME TO** new_table_name **;**<br/>

**ALTER TABLE** table_name<br/>
\...>**ADD COLUMN** col_name col_data_type **;**

<img src ="./img/sqlite_add_col.png" width="400" style="float: left">

**ALTER TABLE** table_name<br/>
\...>**RENAME COLUMN** col_name **TO** new_col_name **;**

<img src="./img/sqlite_rename_col.png" width="400" style="float: left">

# Insert Values into Schema

**INSERT INTO** table_name(<br/>
\...> attr1, attr2, \...)<br/>
\...> **VALUES** (\...),<br/>
\...> (\...),<br/>
\...> (\...),<br/>
\...> (\...) **;**

<img src="./img/sqlite_insert_into.png" width="400" style="float: left">

# Select Values from Schema

**SELECT** something **FROM** table_name **;**<br/>

<img src="./img/sqlite_select_all.png" width="400" style="float: left">

<img src="./img/sqlite_select_part.png" width="400" style="float: left">

# Day 17. Assignment
1. open housekeeping-book db
2. create table with attrs, date, time, description, amount, note, etc.
3. select date and description from the table.

<img src="./img/190102_assignment.png" width="800" style="float: left">

# Day 18.

# SELECT WHERE : Add Conditions for Select

## Comparison Operator

<img src="./img/sqlite_comparison_operator.png" width="400" style="float: left">

# Import Data from CSV

In [ ]:
sqlite> .mode csv
sqlite> .headers on
sqlite> .import customers.csv {table_name}

## Remove Col in CSV

In [ ]:
sqlite> BEGIN TRANSACTION; #start of work

sqlite> CREATE TABLE customers_temp(
   ...> CustomerID, CustomerName, City, PostalCode);

sqlite> INSERT INTO temp.customers_temp
   ...> SELECT CustomerID, CustomerName, City, PostalCode FROM customers;

sqlite> SELECT * FROM temp.customers_temp;

sqlite> DROP TABLE customers;

sqlite> CREATE TABLE customers(
   ...> CustomerID, CustomerName, City, PostalCode);

sqlite> INSERT INTO customers
   ...> SELECT * FROM temp.customers_temp;

sqlite> SELECT * FROM customers;

sqlite> DROP TABLE temp.customers_temp;

sqlite> COMMIT; #end of work

# Export to CSV

In [ ]:
sqlite> .headers on
sqlite> .mode csv
sqlite> .once file_name.csv
sqlite> SELECT * FROM user

# For Practice
[sql_practice](https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all)

### To add various conditions, use IN

In [ ]:
sqlite> SELECT * FROM Customers
   ...> WHERE Country IN ("France", "Germany");

In [ ]:
sqlite> SELECT * FROM Customers
   ...> WHERE Country NOT IN ("France", "Germany");

# To Do
1. customers의 모든 데이터를 선택하세요
2. customers에서 Country 가 Germany, France 이거나 도시가 Berlin, London 인 ContactName, Country, City를 선택하세요
3. Suppliers에서 Country가 Germany, France, UK 인 모든 데이터를 선택하세요
4. Products에서 Price 가 10 이하인 ProductName, SupplierID를 선택하세요
5. Products에서 Price가 10 이하인 SupplierID를 가지는 Supplier의 SupplierID, City, Country를 선택하세요

In [ ]:
#1
sqlite> SELECT * FROM Customers;

In [ ]:
#2
sqlite> SELECT ContactName, Country, City FROM Customers
   ...> WHERE Country IN ("France", "Germany") OR
   ...> City IN ("Berlin", "London");

In [ ]:
#3
sqlite> SELECT * FROM Suppliers
   ...> WHERE Country IN ("Germany", "France", "UK");

In [ ]:
#4
sqlite> SELECT ProductName, SupplierID FROM Products
   ...> WHERE Price <= '10'

In [ ]:
#5
sqlite> SELECT SupplierID, City, Country FROM Suppliers
   ...> WHERE
   ...> SupplierID IN (SELECT SupplierID FROM Products
   ...> WHERE
   ...> Price <= '10');

# SQLite Aggregate Functions

<img src="./img/sqlite_agg_functions.png" width="200" style="float: left">