# Chapter 8. Pythonic Code 1

## Split

**String Type**의 값을 나눠서 **List** 형태로 변환<br/>
string.split() : 빈 칸을 기준으로 string split<br/>
string.split(",") : , 기준으로 string split<br/> 
unpacking과 자주 함께 쓰임<br/>

In [2]:
#example 1: string.split()
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [4]:
#example 2: unpacking & string.split(",")
example = 'python, jquery, javascript'
a, b, c = example.split(",")
a

'python'

In [6]:
#example 3: unpacking & string.split(".")
example = 'cs50.gachon.edu'
subdomain, domain, tld = example.split(".")
subdomain

'cs50'

## Join

string **list**를 합쳐 하나의 **string**으로 변환<br/>
**"연결할 부호".join(연결하고 싶은 list)**<br/>
"".join(list) : 공백없이 다 붙여서 join<br/>
" ".join(list) : 한칸씩 띄어서 join<br/>
", ".join(list) : ,붙여서 join<br/>
"-".join(list) : -붙여서 join<br/>

In [7]:
#example
colors = ['red', 'blue', 'green', 'yellow']
"".join(colors)

'redbluegreenyellow'

In [8]:
result = " ".join(colors)
result

'red blue green yellow'

In [9]:
result = ", ".join(colors)
result

'red, blue, green, yellow'

In [10]:
result = "-".join(colors)
result

'red-blue-green-yellow'

## List Comprehensions

기존 list를 사용하여 다른 list를 작성하는 기법<br/>

In [11]:
###list expression
# result = []
# for i in range(10):
#     result.append(i)
# result

###list comprehension
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
result = [i for i in range(10) if i%2 == 0]
result

[0, 2, 4, 6, 8]

In [15]:
#Nested for loop
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [16]:
result = [i+j for i in word_1 for j in word_2 if not(i==j)]
result
result.sort()
result

['HW',
 'Hd',
 'Hl',
 'Ho',
 'Hr',
 'eW',
 'ed',
 'el',
 'eo',
 'er',
 'lW',
 'lW',
 'ld',
 'ld',
 'lo',
 'lo',
 'lr',
 'lr',
 'oW',
 'od',
 'ol',
 'or']

In [21]:
words = "The quick brown fox jumps over the lazy dog".split()
print(words)

#two-dimensional array
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
for i in stuff:
    print(i)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [23]:
case_1 = ["A", "B", "C"]
case_2 = {"D", "E", "A"}

[i+j for i in case_1 for j in case_2]

['AA', 'AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [26]:
result = [[i+j for i in case_1] for j in case_2] #j부터 돌게 됨
result

[['AA', 'BA', 'CA'], ['AD', 'BD', 'CD'], ['AE', 'BE', 'CE']]

In [27]:
[element for x in result for element in x]

['AA', 'BA', 'CA', 'AD', 'BD', 'CD', 'AE', 'BE', 'CE']

## Enumerate

enumerate(list_name)<br/>
for i, j in enumerate(list_name): 의 유형 많이 씀<br/>
list의 index와 value를 unpacking<br/>

In [28]:
for i,v in enumerate(["Tic", "Tae", "Toe"]):
    print(i,v)

0 Tic
1 Tae
2 Toe

In [29]:
mylist = ["a", "b", "c", "d"]
list(enumerate(mylist)) #mylist를 enumerate해서 list로 저장

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [31]:
#string으로 이루어진 문장을 list로 split한뒤 index와 value를 dict로 저장
#text-mining에서 많이 쓰임
{i:j for i,j in enumerate("Gachon University is an academic institute located in South Korea.".split())}

{0: 'Gachon',
 1: 'University',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institute',
 6: 'located',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

## Zip

for x in zip(list_1, list_2):<br/>
for a, b in zip(list_1, list_2):<br/>
두 개의 list값을 병렬적으로 추출함<br/>

In [43]:
a_list = ['a1', 'a2', 'a3']
b_list = ['b1', 'b2', 'b3']
for a, b in zip(a_list, b_list):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [35]:
#각 tuple에서 같은 index를 가지는 value끼리 추출
a, b, c = zip((1,2,3),(10,20,30),(100,200,300)) 
a

(1, 10, 100)

In [38]:
#각 tuple에서 같은 index를 가지는 value끼리 추출해서 더한 값을 list로
[sum(x) for x in zip((1,2,3), (10,20,30), (100,200,300))]

[111, 222, 333]

In [39]:
for x in zip((1,2,3,), (10,20,30), (100,200,300)):
    print (x)

(1, 10, 100)
(2, 20, 200)
(3, 30, 300)

## Enumerate & Zip

for i, (a,b) in enumerate(zip(alist, blist)): 의 형태 많이 씀<br/>

In [44]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a,b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3